<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>找回密码</title>
    <script src="../../script/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/win_findpwd/index.css" />
    <link rel="stylesheet" href="../../res/vant/index.css">
</head>

<body>
    <div id="wrap" v-cloak>
        <van-nav-bar left-arrow title="找回密码" class="common-header" @click-left="onClickLeft"> </van-nav-bar>
        <van-row class="main">
            <div class="input-wrap user">
                <label for="user">用户名</label>
                <input id="user" type="text" v-model="form.username" maxlength="16">
            </div>
            <div class="input-wrap phone">
                <label for="phone">手机号</label>
                <input id="phone" type="text" v-model="form.phone" maxlength="11">
            </div>
            <div class="input-wrap code">
                <label for="code">验证码</label>
                <input id="code" type="text" v-model="form.code" maxlength="4" @keyup.enter="login">
                <van-count-down v-if="timeFlag" @finish="finished" :time="time" format="ss"></van-count-down>
                <span  v-else class="getCode" @click="getCode">获取验证码</span>
            </div>
            <button class="bottom-button" type="button" :class="[btnDisabled===true ? 'disabled' :'']" :disabled="btnDisabled" @click="findpwd">确 定</button>
        </van-row>
    </div>
</body>
<script src="../../script/vue.min.js"></script>
<script src="../../script/axios.min.js"></script>
<script src="../../script/api.js"></script>
<script src="../../res/vant/vant.min.js"></script>
<script src="../../script/common.js"></script>
<script src="../../js/win_findpwd/index.js"></script>

</html>
