<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>登陆</title>
    <script src="../../script/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/win_login/index.css" />
    <link rel="stylesheet" href="../../res/vant/index.css">
</head>
<body>
    <div id="wrap" v-cloak :style="{height:winHeight + 'px'}">
        <div class="logo-container">
            <div class="logo-wrap">
                <img class="logo-img" src="../../image/u9.png">
                <!-- <p class="logo-title"></p> -->
            </div>
        </div>
        <div class="user-container">
            <div class="user">
                <label for="user">用户名</label>
                <input id="user" type="text" v-model="username" maxlength="16">
            </div>
            <div class="pwd">
                <label for="pwd">密码</label>
                <input id="pwd" type="password" v-model="pwd" maxlength="16" @keyup.enter="login">
            </div>
            <div class="operate">
              <span @click="openFindpwd">找回密码</span><span @click="openRegister">注册账号</span>
            </div>
        </div>
        <div class="login-container">
            <button type="button" @click="login" class="login-btn" :class="[btnDisabled===true ? 'disabled' :'']" :disabled="btnDisabled">登 录</button>
        </div>
        <div class="copyright">
            <p> </p>
        </div>
    </div>
</body>
<script src="../../script/vue.min.js"></script>
<script src="../../script/axios.min.js"></script>
<script src="../../script/api.js"></script>
<script src="../../res/vant/vant.min.js"></script>
<script src="../../script/common.js"></script>
<script src="../../js/win_login/index.js"></script>
</html>
