<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>地图</title>
    <script src="../../script/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/win_map/index.css" />
    <link rel="stylesheet" href="../../res/vant/index.css">
</head>

<body>
    <div id="wrap" v-cloak>
        <template v-if="fwcxing">
        <div class="fwcxClass-header">
          <van-notice-bar style="width:100%;" color="#1989fa"  background="#ecf9ff" text="请在地图上绘制多边形范围，点击提交查询" left-icon="volume-o"></van-notice-bar>
          <van-row type="flex" justify="center">
            <van-col span="8"><van-button type="primary" round size="small" class="sumit" @click="fwcxComplete">提 交</van-button></van-col>
            <van-col span="8"><van-button type="default" round size="small" class="cancal" @click="fwcxClear">清 除</van-button></van-col>
            <van-col span="8"><van-button type="info" round size="small" class="cancal" @click="fwcxCancal">返 回</van-button></van-col>
          </van-row>
        </div>

      </template>
        <template v-else>
        <div class="map-header" id="map-header">
            <div class="map-header-menu" @click="openDrawerPane"></div>
            <van-search shape="round" placeholder="请输入搜索关键词" @clear="onClear" show-action v-model="searchValue" @search="onSearch">
                <div slot="action" @click="onSearch">搜索</div>
            </van-search>
        </div>
      </template>
    </div>
</body>
<script src="../../script/vue.min.js"></script>
<script src="../../script/axios.min.js"></script>
<script src="../../script/api.js"></script>
<script src="../../res/vant/vant.min.js"></script>
<script src="../../script/common.js"></script>
<script src="../../js/win_map/index.js"></script>


<script src="../../res/arcgisapi/GCJ2WGS.js"></script>
<script src="../../res/arcgisapi/init.js"></script>

</html>
